* {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

html, body {
    height: 100%;
}

body {
    font-size: 16px;
    line-height: 1.5;
    background: #eeeeee;
    color: #333333;
}

body, input {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

input {
    font-size: 100%;
}

a, a:visited, a:active {
    color: #258;
}

h3 {
    font-weight: bold;
    text-decoration: underline;
    font-size: 120%;
    padding: 8px 6px;
    text-align: center;
}

#main-pane, #side-pane, #bottom-pane {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
}

#main-pane {
    top: 45px;
    bottom: 0;
    right: 220px;
    overflow: auto;
}

#side-pane {
    width: 200px;
    left: auto;
    overflow: auto;
    background: #eee;
    border-right: 1px solid #999;
    background: #ddd;
}

#side-pane p {
    padding: 3px 6px;
}

#header {
    float: left;
    margin-top: 9px;
    margin-left: 12px;
    margin-right: 8px;
}

#items-view {
    margin-top: 5px;
    margin-left: 5px;
}

#item-list .material, #item-list .donator {
    display: block;
    min-height: 50px;
    position: relative;
    overflow: hidden;
    border-top: 1px solid #ccc;
}

#item-list .material .display, #item-list .donator .display {
    margin-left: 30px;
    height: 100%;
    width: 200px;
    float: left;
    padding-top: 18px;
    line-height: 1;
}

#item-list .material .donate {
    overflow: auto;
    float: right;
    margin-right: 8px;
}

#item-list .material .donate .add_donation {
    margin-top: 15px;
    background: none;
    color: #333;
    border: 1px dashed #999;
    cursor: pointer;
    padding: 2px 7px;
    font-size: 80%;
    font-weight: bold;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
}

#item-list .done .material-name {
    text-decoration: line-through;
    color: #999;
}

#item-list .material .material-name {
    float: left;
    margin-left: 10px;
    font-size: 100%;
}

#item-list .material .material-left {
    margin-left: 10px;
    font-size: 100%;
    margin-bottom: 10px;
    clear: both;
}

#item-list .material .material-total {
    margin-left: 10px;
    font-size: 100%;
    clear: both;
}
